body { background-color: #363523;}
form {margin: 20px 10% 0 10%; background-image: url(http://www.houston-inc.com/templates/allcss_alasivut/gfx/transparency.png);background-repeat: repeat; }
img#houston {margin-right: 20px;  float: right;}
div#banner { background-color: #A1A566;height: 72px; }
div#title {margin-left: 20px; padding-top: 10px;}